---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

// 画像のインポート
import ProfileIcon from '../assets/profile_icon.png';
import Github from '../assets/sns_icon/github.png';
import Twitter from '../assets/sns_icon/x.jpg';
import Instagram from '../assets/sns_icon/Instagram.png';
import Discord from '../assets/sns_icon/discord.png';
---

<Layout title="naoki">
  <!-- header-profileicon -->
  <header class="flex flex-row">
    <Image
      src={ProfileIcon}
      alt="プロフィール画像"
      width="120"
      height="120"
      class="pointer-events-none rounded-full"
    />
    <!-- 自分を表す一言メッセージとReadmoreボタン -->
    <div class="ml-10 mt-16 flex flex-col">
      <!-- 一言紹介 -->
      <div class="font-sans text-lg text-gray">naoki is a web developer</div>
      <!-- readmoreボタン -->
      <a href="/about" class="font-sans text-sm text-white">Read more -></a>
    </div>
  </header>

  <!-- TimelineとWorks -->
  <div class="flex flex-row gap-x-10">
    <!-- works -->
    <a
      href="/works"
      class="mr-auto mt-48 h-48 w-full rounded-lg bg-black transition-all duration-200 ease-in-out hover:scale-105"
    ></a>
    <!-- TimelineとSNS -->
    <div class="flex w-full flex-col">
      <!-- Timeline -->
      <a
        href="/timeline"
        class="ml-auto mt-10 h-64 w-full rounded-lg bg-black transition-all duration-200 ease-in-out hover:scale-105"
      ></a>
      <!-- SNS -->
      <div class="mt-6 flex flex-row gap-[28.7px]">
        <!-- Github -->
        <a href="https://github.com/nka21" target="_blank" rel="noopener noreferrer">
          <Image
            src={Github}
            alt="Github"
            width="65"
            height="65"
            class="rounded-lg transition-all duration-200 ease-in-out hover:scale-105"
          />
        </a>
        <!-- Twitter -->
        <a href="https://twitter.com/nka21dev" target="_blank" rel="noopener noreferrer">
          <Image
            src={Twitter}
            alt="X"
            width="65"
            height="65"
            class="rounded-lg transition-all duration-200 ease-in-out hover:scale-105"
          />
        </a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/nka21__/" target="_blank" rel="noopener noreferrer">
          <Image
            src={Instagram}
            alt="Instagram"
            width="65"
            height="65"
            class="rounded-lg transition-all duration-200 ease-in-out hover:scale-105"
          />
        </a>
        <!-- Discord -->
        <a href="https://discord.gg/PFZvgqBjGG" target="_blank" rel="noopener noreferrer">
          <Image
            src={Discord}
            alt="Discord"
            width="65"
            height="65"
            class="rounded-lg transition-all duration-200 ease-in-out hover:scale-105"
          />
        </a>
      </div>
    </div>
  </div>
</Layout>
